@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Work Sans", sans-serif;
    margin: 0;
}

/* .....shared style..... */
.display-flex {
    display: flex;
}

.background-color {
    background: rgba(255, 144, 14, 0.1);
}


/* .......nav style..... */
header>nav {

    justify-content: space-between;
    margin: 0 auto;
    padding-top: 30px;
    
}

nav>h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 53px;
}

nav>ul {
    gap: 2rem;
    list-style: none;
    align-items: center;
}

nav>ul>li>a {
    text-decoration: none;
}
.banner ,.nav{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner */

#brand {
    margin: 0 529px;
    max-width: 862px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#brand>h2 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 75px;
}