* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1600px;
}

.font-style {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.button {
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    color: white;

}



header {
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url("../Module=5/images/developer.png"), url("../Module=5/images/header_bg.png"), #FFF8F3;
    background-repeat: no-repeat;
    background-position:23px 38px , bottom right;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    width: 71%;
    max-width: 1138px;
}

.logo h2 {
    font-size: 45px;
    font-weight: bolder;
}

#logo-color {
    color: #FD6E0A;
}




nav ul {
    list-style: none;
    display: flex;
    gap: 51px;
    align-items: center;
}

ul a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    margin: 45px 38px 0px 230px;
    max-width: 1332px;
    align-items: center;
}

#hero-text h2 {
    color: #474747;
    font-size: 45px;
    font-weight: 600px;
    margin-bottom: 5px;
}

#hero-text h1 {
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
}

#hero-text p {
    max-width: 585px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #757575;
}

.hero-img {
    max-width: 585px;
    vertical-align: middle;
}

.about-me {
    background-color: #CCCCCC;
    margin: 130px 230px 0px 230px;
    padding: 131px 156px;
    border-radius: 10px;
    width: 71%;
    max-width: 1140px;
}

.about-text {
    text-align: center;
}

.about-text h2 {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}

.about-text p {
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
    max-width: 827px;
}

.about-card {
    display: flex;
    justify-content: space-around;
}

.about-card p {
    font-size: 20px;
    line-height: 30px;
    color: #757575;
    text-align: center;
}

.about-card h4 {
    color: #474747;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
}

#article {
    margin: 130px 386px 50px 386px;
    text-align: center;
}

#article h1 {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}

#article p {
    font-size: 18px;
    line-height: 30px;
    color: #757575;
}


.coding-card {
    display: flex;
    margin-left: 230px;
    margin-right: 230px;
    gap: 24px;
}

.coding-card .card {
    border-radius: 5px;
    padding: 30px;
    max-width: 267px;
    box-shadow: 0px 6px 50px 0px;
    color: #f4e6e6;
}

.coding-card .card h2 {
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-top: 30px;
}

.coding-card .card p {
    font-size: 16px;
    line-height: 28px;
    margin-top: 20px;
    color: #757575;
}

.coding-card .card img {
    max-width: 44px;
}


.rusume-summary {
    margin: 130px auto 0px;
    width: 71%;
    max-width: 1140px;
}

.rusume-details {
    display: flex;
    margin-top: 113px;
    gap: 24px;
}

#summary-head h2 {
    text-align: center;
    color: #181818;
    font-size: 35px;
    font-weight: bold;
}

.education,
.experience .box {
    max-width: 511px;
}

.rusume-details .education h3,
.rusume-details .experience h3 {
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}

.rusume-details .box h3 {
    color: #474747;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 30px;
}

.rusume-details .education h5,
.rusume-details .experience h5 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600px;
    color: #757575;
}

.rusume-details .education p,
.rusume-details .experience p {
    color: #757575;
    margin: 0 47px 30px 0;
    line-height: 28px;
    font-size: 16px;
    color: #757575;
}

.rusume-summary #resume-button {
    text-align: center;
}

footer {
    background-color: #FFF8F3;
    margin-top: 113px;
    max-width :1600px;
    padding: 130px 230px;
}

.footer-container {
    display: flex;
    gap: 117px;
}

footer .footer-container h2 {
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
footer .footer-container p{
    color: #474747;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
    width: 562px;
}

.footer-container .social-media a{
 margin-right: 24px;
 text-decoration: none;
}

.footer-container .form input[type="text"], .footer-container .form textarea {
    width: 461px;
    padding:18px 30px ;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
    line-height: 28px;
    font-size: 16px;
}

